<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Cuadros</h1>
  <ul>

  </ul>

  <script>
    const cuadros = [{"id":1,"titulo":"Cuadro 1","imagen":"url1"},{"id":2,"titulo":"Cuadro 2","imagen":"url2"}]

    const cuadrosHTML = cuadros.map(cuadro => `<li>${cuadro.titulo}</li>`).join()

    document.querySelector('ul').innerHTML = cuadrosHTML
  </script>
</body>
</html>